<form (ngSubmit)="save(userForm)" #userForm="ngForm" novalidate>
    <div class="form-group">
        <div class="col-md-4 mb-3">
            <label>First name</label>
            <input type="text" class="form-control" type="text" required minlength="3" [(ngModel)]="user.firstName"
                name="firstName" #firstNameVar="ngModel"
                [ngClass]="{'is-invalid': (firstNameVar.touched || firstNameVar.dirty) && !firstNameVar.valid}">
            <span class="invalid-feedback">
                <span *ngIf="firstNameVar.errors?.required">
                    Please enter your name
                </span>
                <span *ngIf="firstNameVar.errors?.minlength">
                    Name most be greater than 3 characters
                </span>
            </span>
        </div>
        <div class="col-md-4 mb-3">
            <label>lastname</label>
            <input type="text" class="form-control" type="text" required minlength="3" [(ngModel)]="user.lastName"
                name="lastName" #lastNameVar="ngModel"
                [ngClass]="{'is-invalid': (lastNameVar.touched || lastNameVar.dirty) && !lastNameVar.valid}">
            <span class="invalid-feedback">
                <span *ngIf="lastNameVar.errors?.required">
                    Please enter your last name
                </span>
                <span *ngIf="lastNameVar.errors?.minlength">
                    Last name most be greater than 3 characters
                </span>
            </span>
        </div>
    </div>
    <button class="btn btn-primary" type="submit"
        [title]="userForm.valid ? 'Guarda tus datos ingresados' : 'Desabilitado hasta que los datos sean válidos'"
        [disabled]="!userForm.valid">Presione el botón
    </button>
</form>

<br>Dirty: {{ userForm.dirty }}
<br>Touched: {{ userForm.touched }}
<br>Valid: {{ userForm.valid }}
<br>Value: {{ userForm.value | json }}