<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                    Template driven Form
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <app-template-driven-form></app-template-driven-form>
            </div>
        </div>
    </div>
    <br>
    <div class="card">

        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Reactive form
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <app-reactive-form-component></app-reactive-form-component>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree">
                    Reactive Form with Validartors
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <app-reactive-form-validartors-component></app-reactive-form-validartors-component>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" id="headingFourth">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="true"
                    aria-controls="collapseFourth">
                    Reactive form with cross validation
                </button>
            </h5>
        </div>
        <div id="collapseFourth" class="collapse" aria-labelledby="headingFourth" data-parent="#accordion">
            <div class="card-body">
                <app-reactive-form-cross-field-validation-component>
                </app-reactive-form-cross-field-validation-component>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" id="headingFifth">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFifth" aria-expanded="true"
                    aria-controls="collapseFifth">
                    Reactive form with Watcher to changes
                </button>
            </h5>
        </div>
        <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordion">
            <div class="card-body">
                <app-watcher-reactive-to-changes></app-watcher-reactive-to-changes>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" id="headingSixth">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSixth" aria-expanded="true"
                    aria-controls="collapseSixth">
                    Dinamycally duplicate inputs
                </button>
            </h5>
        </div>
        <div id="collapseSixth" class="collapse " aria-labelledby="headingSixth" data-parent="#accordion">
            <div class="card-body">
                <app-dynamically-duplicate-input></app-dynamically-duplicate-input>
            </div>
        </div>
    </div>
</div>
