<form (ngSubmit)="setAllDataFromModel()" [formGroup]="userForm" novalidate>
    <div class="form-group">
        <div class="col-md-8 mb-3">
            <label>First name</label>
            <input type="text" class="form-control" type="text" formControlName="firstName"
                [ngClass]="{'is-invalid': (userForm.get('firstName').touched || userForm.get('firstName').dirty) && !userForm.get('firstName').valid}">
            <span class="invalid-feedback">
                <span *ngIf="userForm.get('firstName').errors?.required">
                    Por favor ingrese su nombre
                </span>
                <span *ngIf="userForm.get('firstName').errors?.minlength">
                    Last name most be greater than 3 characters
                </span>
            </span>
        </div>
        <div class="col-md-8 mb-3">
            <label>Last name</label>
            <input type="text" class="form-control" type="text" formControlName="lastName"
                [ngClass]="{'is-invalid': (userForm.get('lastName').touched || userForm.get('lastName').dirty) && !userForm.get('lastName').valid}">
            <span class="invalid-feedback">
                <span *ngIf="userForm.get('lastName').errors?.required">
                    Please enter your last name
                </span>
                <span *ngIf="userForm.get('lastName').errors?.minlength">
                    Last name most be greater than 3 characters
                </span>
            </span>
        </div>
        <div class="form-group row mb-2">
            <label class="col-md-8 col-fomr-label pt-0">Send notification</label>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" value="email" formControlName="notification"
                            (click)="setNotificaction('email')">Email</label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" value="text" formControlName="notification"
                            (click)="setNotificaction('text')"> Text
                    </label>
                </div>
            </div>
            <div class="col-md-8 mb-3">
                <label>Phone</label>
                <input type="tel" class="form-control" type="text" formControlName="phone"
                    [ngClass]="{'is-invalid': !userForm.get('phone').valid }">
                <span class="invalid-feedback">
                    <span *ngIf="userForm.get('phone').errors?.required">
                        Please enter your phone number.
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-8 mb-3">
            <label>Age</label>
            <input type="text" class="form-control" type="number" required formControlName="age"
                [ngClass]="{'is-invalid': (userForm.get('age').touched || userForm.get('age').dirty) && !userForm.get('age').valid}">
            <span class="invalid-feedback">
                <span *ngIf="userForm.get('age').errors?.required">
                    Please enter your age.
                </span>
            </span>
        </div>
        <div class="col-md-8 mb-3">
            <label>Rating</label>
            <input type="number" class="form-control" type="number" required formControlName="rating"
                [ngClass]="{'is-invalid': (userForm.get('rating').touched || userForm.get('rating').dirty) && !userForm.get('rating').valid}">
            <span class="invalid-feedback">
                <span *ngIf="userForm.get('rating').errors?.range">
                    Please rate from 1 to 5.
                </span>
            </span>
        </div>
        <div formGroupName="passwordGroup">
            <div class="form-group col-md-8 mb-3">
                <label class="col-md-8 col-form-label">Enter your password</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" formControlName="password"
                        [ngClass]="{'is-invalid': userForm.get('passwordGroup').errors || ((userForm.get('passwordGroup.password').touched || userForm.get('passwordGroup.password').dirty) && !userForm.get('passwordGroup.password').valid) }">
                    <span class="invalid-feedback">
                        <span *ngIf="userForm.get('passwordGroup.password').errors?.required">
                            Please enter your password.
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-8 mb-3">
                <label class="col-md-8 col-form-label">Confirm password</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" formControlName="confirmPassword"
                        [ngClass]="{'is-invalid': userForm.get('passwordGroup').errors || ((userForm.get('passwordGroup.confirmPassword').touched || userForm.get('passwordGroup.confirmPassword').dirty) && !userForm.get('passwordGroup.confirmPassword').valid) }">
                    <span class="invalid-feedback">
                        <span *ngIf="userForm.get('passwordGroup.confirmPassword').errors?.required">
                            Please confirm your password.
                        </span>
                        <span *ngIf="userForm.get('passwordGroup').errors?.match">
                            The confirmation does not match the password.
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <button class="btn btn-primary" type="submit"
                    [title]="userForm.valid ? 'Guarda tus datos ingresados' : 'Desabilitado hasta que los datos sean válidos'"
                    [disabled]="!userForm.valid">Submit
                    all data
                </button>
            </div>
            </div>
    </div>
</form>

<br>Dirty: {{ userForm.dirty }}
<br>Touched: {{ userForm.touched }}
<br>Valid: {{ userForm.valid }}
<br>Value: {{ userForm.value | json }}